@media screen and (max-width: 1171px) {
    .nav {
        display: flex;
        justify-content: center;
        column-gap: 25vw;
    }

    .calcbody {
        margin-left: 30vw;
    }

    .main {
        display: flex;
        justify-content: center;
        border: 2px solid black;
        border-radius: 30px;
        height: 340px;
        width: 300px;
        padding: 12px;
    }

    button {
        border-radius: 20px;
        font-weight: 600;
        padding: 1px;
        height: 25px;
        width: 50px;
    }

    td {
        text-align: center;
        padding: 2px;
    }

    #textbox {
        border-radius: 30px;
        border: 2px solid black;
        width: 275px;
        height: 50px;
        font-size: x-large;
        padding: 7px;
        margin-bottom: 3px;
        font-size: 15px;
    }

    .eql {
        width: 113px;
    }

    .list {
        font-size: 21px;
        column-gap: 3vw;
    }

    .right {
        font-size: 21px;
    }
}

@media screen and (max-width: 678px) {
    .nav {
        display: flex;
        justify-content: center;
        column-gap: 25vw;
    }

    .right_nav {
        display: none;
    }

    .home {
        display: none;
    }

    .calcbody {
        margin-left: 13vw;
        margin-left: 10vw;
    }

    .list {
        font-size: 15px;
        column-gap: 2vw;
        margin-left: 12px;
    }

    .right {
        font-size: 15px;
    }
}
