.main{
    display: flex;
}
.design{
    border: 4px solid black;
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}
img{
    height: 300px;
    width:300px;
}
.checked{
    background-color: cornflowerblue;
}